html,
body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  width: 100%;
  scroll-behavior: smooth;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* Header start */
header {
  background: #134e5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #71b280,
    #134e5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #71b280,
    #134e5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

header .navbar-brand {
  margin-right: 4em;
}

header li a {
  font-size: 20px;
  letter-spacing: 2px;
  /* margin-left: 2em; */
}

header li a:hover {
  color: #2abf5e !important;
}
/* Header section end */
/* Home section start */
#home {
  padding-top: 65px;
}
/* Home section end */

/* About section start */
#about {
  background-color: #ffffff;
}

#about .section-heading h3 {
  color: #1f958e;
  font-weight: 600;
  font-size: 2.7em;
}

#about p {
  margin: 0.9em auto;
  font-size: 1.25em;
  line-height: 1.8em;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  width: 66%;
  color: #888888;
}
/* About section end */

/* Magazines section start */
#magazines {
  /* background: #1D976C; */
  padding-bottom: 30px;
  background: -webkit-linear-gradient(to right, #93f9b9, #1d976c);
  background: linear-gradient(to right, #93f9b9, #1d976c);
}

#magazines .section-heading h3 {
    font-size: 2.7em;
    color: #ffff;
    font-weight: 600;
    /* margin-bottom: 2em; */
    width: 100%;
    margin-bottom: 20px;
}

#magazines a {
  background-color: #ffff;
  color:#1E494C;
  text-decoration: none;
  padding:10px;
  font-size: 1.5em;
  text-transform: uppercase;
  border: 2px solid #1E494C;
  border-radius: 0.4em;
}

#magazines a:hover {
  background: none;
	border: 2px solid #fff;
	color:#fff;
}

/* Media Query  */
@media (min-width: 991px) {
  header li a {
    margin-left: 1em;
  }
}
