html, body{
	font-family: 'Open Sans', sans-serif;
	background: #FFf;
	width: 100%;
    scroll-behavior: smooth;
}

body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

/* Header start */
header {
    background: #134E5E;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	position: fixed;
	z-index: 5;
	width: 100%;
	display: flex;
	justify-content: space-between;
    padding: 10px
}

header .navbar-brand {
    margin-right: 4em;
}

header li a {
    font-size: 20px;
    letter-spacing: 2px;
    /* margin-left: 2em; */
}

header  li a:hover{
    color:#2ABF5E !important;
}

/* Media Query  */
@media(min-width:991px){
    header li a {
        margin-left: 1em;
    }
}
